@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Bold.woff") format("woff");
    font-style: bold;
    font-weight: 700
}


@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff") format("woff");
    font-style: bold;
    font-weight: 700
}
@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt_sans-web-regular-webfont.woff") format("woff");
   
    font-weight: 400
}

body {
    
    max-width: 1600px;
    margin: 0px 0px;
    
}

.container{
    margin: 0 auto;
}





