@charset "UTF-8";
.header {
  position: relative;
  max-width: 100%;
  height: 1070px;
  background-image: url(../img/Фон.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle; }
  @media (max-width: 376px) {
    .header {
      height: 650px; } }
  .header__title {
    margin-top: 356px;
    margin-left: 107px; }
    @media (max-width: 968px) {
      .header__title {
        margin: auto;
        margin-top: 356px; } }
    @media (max-width: 376px) {
      .header__title {
        margin: auto;
        margin-top: 203px; } }
    .header__title__text {
      font-family: 'ProximaNova', sans-serif;
      color: white;
      font-size: 72px;
      font-weight: 700;
      line-height: 60px;
      text-transform: uppercase;
      margin-bottom: 23px; }
      @media (max-width: 576px) {
        .header__title__text {
          font-size: 36px; } }
  .header__subtitle {
    font-family: 'PT Sans', sans-serif;
    color: #fefdfd;
    font-size: 30px;
    font-style: italic; }
    @media (max-width: 376px) {
      .header__subtitle {
        font-size: 20px;
        padding: 3px; } }
  .header:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #9f9acf;
    opacity: 0.5;
    position: absolute;
    content: "";
    z-index: 1; }
  .header__navigation {
    position: fixed;
    top: 0;
    left: 0; }
  .header__logo {
    margin-left: 47px; }
    @media (max-width: 376px) {
      .header__logo {
        margin-left: 17px; } }
  .header__logo__link__img {
    width: 80%; }
